@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: rgb(240,28,154);
    background: linear-gradient(90deg, rgba(240,28,154,1) 0%, rgba(123,106,217,1) 62%, rgba(43,146,253,1) 100%);
    font-family: 'Montserrat', sans-serif;
}

.mc-1 {
    background: rgba( 0, 0, 0, 0.50 );
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
}

.mc-2 {
    background: rgba( 61, 61, 61, 0.50 );
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
}

.mc-3 {
    background: rgba( 61, 61, 61, 0.20 );
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
}

.mc-4 {
    background: rgba(204, 204, 204, 0.1);
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
}

.mc-button {
    background: rgb(255,122,201);
    background: linear-gradient(90deg, rgba(255,122,201,1) 0%, rgba(123,106,217,1) 100%, rgba(43,146,253,1) 100%);
    @apply shadow-lg;
    @apply font-bold;
}

.mc-movie-tag {
    background: rgb(173,232,93);
    background: linear-gradient(90deg, rgba(173,232,93,1) 5%, rgba(232,231,93,1) 46%, rgba(253,201,43,1) 96%);
    @apply shadow-lg;
    @apply text-black;
}

.mc-button:hover {
    background: rgb(189,93,150);
    background: linear-gradient(90deg, rgba(189,93,150,1) 0%, rgba(91,80,152,1) 100%, rgba(43,146,253,1) 100%);
    @apply shadow-lg;
}

.mc-user-chat {
    @apply bg-green-200;
    @apply text-black;
}

.mc-other-chat {
    @apply bg-blue-200;
    @apply text-black;
}

.mc-history-btn {
    transition: all .2s ease-in-out;
    background: rgba( 61, 61, 61, 0.50 );
}

.mc-history-btn:hover {
    @apply cursor-pointer;
    transform: scale(1.1);
    background: rgb(255,122,201);
    background: linear-gradient(90deg, rgba(255,122,201,1) 0%, rgba(123,106,217,1) 100%, rgba(43,146,253,1) 100%);
}

.m-navbar-btn {
    transition: all .2s ease-in-out;
}

.m-navbar-btn:hover {
    background: rgb(255,122,201);
    background: linear-gradient(90deg, rgba(255,122,201,1) 0%, rgba(123,106,217,1) 100%, rgba(43,146,253,1) 100%);
    /* background: rgba(204, 204, 204, 0.1); */
    transform: scale(1.1);
}

.playlist-display-card {
    transition: all .2s ease-in-out;
}

.playlist-display-card:hover {
    @apply cursor-pointer;
    transform: scale(1.01);
}

::-webkit-scrollbar {
    width: 12px;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: rgb(255,122,201);
    background: linear-gradient(90deg, rgba(255,122,201,1) 0%, rgba(123,106,217,1) 100%, rgba(43,146,253,1) 100%);
    -webkit-backdrop-filter: blur( 13.5px );
}

tbody:before {
    content:"@";
    display:block;
    line-height:15px;
    text-indent:-99999px;
}

tr.spaceUnder>td {
    padding-bottom: 1em;
}

thead {
    @apply border-b-2;
    border-color:rgba( 0, 0, 0, 0.1 )
}

.mc-hits {
    @apply bg-red-800;
}

.mc-hits-item {
    @apply text-black;
    background: rgb(173,232,93);
    background: linear-gradient(90deg, rgba(173,232,93,1) 5%, rgba(232,231,93,1) 46%, rgba(253,201,43,1) 96%);
}

.mc-hits-list {
    @apply text-red-900;
}

.mc-ais {
    background: rgba( 221, 88, 255, 0.20 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10.5px );
    -webkit-backdrop-filter: blur( 10.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    @apply shadow-lg;
    @apply text-black;
}

.mc-highlight {
    @apply text-xl;
}

.mc-refinement {
    @apply p-5;
    @apply rounded-xl;
    @apply max-w-sm;
    @apply h-full;
}

.mc-labeltext {
    @apply text-black;
    @apply p-1;
    @apply rounded-xl;
    @apply mt-2;
    @apply text-white;
    @apply font-bold;
    background: rgb(255,122,201);
    background: linear-gradient(90deg, rgba(255,122,201,1) 0%, rgba(123,106,217,1) 100%, rgba(43,146,253,1) 100%);
}